img {
    width: 100%;
}
.brand img {
    width: 19%;
}

.outerofbanner {
    padding: 210px 0;
}
.outerofbanner {
    padding: 170px 0;
}

.bannercontent h1 {
    color: #fff;
    font-size: 55px;
    margin-bottom: 20px;
}

.bannercontent p {
    color: #fff;
    font-size: 17px;
    margin-bottom: 30px;
}

.webbtn a {
    border-radius: 35px;
    padding: 14px 32px;
    display: inline-block;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
}

.webbtn a i.fa {
    font-size: 22px;
    position: relative;
    top: 3px;
    left: 0px;
}

.webbtn a:hover {
    background: #8c52ff;
    border-color: #8c52ff;
}

.sectionpadding {
    padding: 80px 0;
}

.sectionheading h2 {text-transform: capitalize;font-weight: 700;}

.sectionheading {
    text-align: center;
    /* width: 52%; */
    margin: 0 auto;
    margin-bottom: 35px;
}

.sectionheading p {
    font-weight: 500;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 0;
    font-size: 17px;
}

.aboutsidimgwithform form {
    box-shadow: 0 0 16px #e7e7e7;
    border-radius: 12px;
    padding: 30px 20px;
    border-bottom: solid 4px #8c52ff;
    /* width: 80%; */
    margin: 0 auto;
    margin-top: 25px;
    background: #fff;
}

.aboutsidimgwithform form i.fa {
    position: absolute;
    top: 16px;
    left: 20px;
    font-size: 18px;
}

.aboutsidimgwithform form .mb-3 {
    position: relative;
}

.aboutsidimgwithform form .form-control {
    border-radius: 0;
    padding: 12px 45px;
}
.fbtn {
    width: 100%;
    border-radius: 0;
    background: #8c52ff;
    height: 49px;
    color: #fff;
}

.fbtn:hover {
    background: black;
    color: #fff;
}
.aboutcontent .sectionheading {
    text-align: left;
}

.aboutcontent .sectionheading p {
    margin-bottom: 10px;
}
.aboutimg {
    width: 80%;
    margin: 0 auto;
}
.webbtnset a {
    background: #8c52ff;
    border-radius: 25px;
    padding: 13px 30px;
    text-decoration: none;
    color: #ffff;
    display: inline-block;
}

.webbtnset a:hover {
    background: #000;
}
.outerofformsection .row {}

.outerofformsection .row .col-md-2 {
    width: 21%;
}

.btnofset {
    width: 15% !important;
}
.outerofformsection .mb3 {
    position: relative;
}



.boxservices {
    box-shadow: 0 0 11px #dbdbdb;
    padding: 30px 30px;
    border-radius: 12px;
    transition: .3s;
    text-align: center;
    background: #fff;
}

.sicon {
    width: 22%;
    margin-bottom: 10px;
    margin: 0 auto;
}

.servicecontent h4 {
    font-size: 22px;
}

.boxservices:hover {
    transform: scale(1.1);
    border-bottom: solid 2px #8c52ff;
}
.bgsection {
    background: #f7f7f7;
}

.count-icon img {
    width: 17%;
}

.count-digit.counter-loaded {
    font-weight: 700;
    font-size: 65px;
    color: #8c52ff;
    line-height: 80px;
    margin-top: -10px;
    display: inline-block;
}
.count-area-content span {
    font-weight: 700;
    font-size: 65px;
    color: #8c52ff;
    line-height: 80px;
    margin-top: -10px;
    display: inline-block;
}

.count-title {
    font-size: 17px;
    color: #000;
    font-weight: 500;
}

.count-area-content {
    text-align: center;
    background: #ffffffe0;
    padding: 40px 0;
    border-radius: 12px;
    /* border-bottom: solid 4px #8c52ff; */
    box-shadow: 0 0 11px #00000075;
    transition: .3s;
}
.counerdownstr {
    position: relative;
}
.overlay {
    background: #0000004f;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.outerofcountersection {position: relative;}
.imgofpartner {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}
.owl-nav {
    display: none;
}
.industriesimg {
    width: 37%;
    margin: 0 auto;
}

.industriesbox {
    border: solid 1px #e7e7e7;
    text-align: center;
    padding: 40px 10px;
    transition: .3s;
}

.industriesbox p {
    margin: 0;
    margin-top: 10px;
}

.outerofindustriessection .row {
    row-gap: 20px;
}

.industriesbox:hover {
    transform: scale(1.1);
}

.industriesbox:hover img {
    transform: rotateY(360deg);
}

.industriesbox img {
    transition: .5s;
}
.reivebox {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-top: 20px;
}

.reviewinfo ul {
    padding: 0;
    margin: 0;
}

.reviewinfo ul li {
    display: inline-block;
}

.reviewinfo {}

.reviewinfo p {
    margin: 0;
    font-weight: 500;
}

.reviewbox p {
    margin: 0;
}

.reviewbox {
    width: 90%;
    margin-top: 10px;
    background: #f7f7f7;
    padding: 30px 30px;
    border-radius: 12px;
}
.reviewinfo ul li i.fa {
    color: orange;
}
.formcontent .sectionheading {
    text-align: left;
}

.formcontent .sectionheading p {
    width: 100%;
    margin-bottom: 10px;
}

.formset {
    background: #fff;
}
.owl-dots {
    display: none;
}
.outerofcontactform .row {
    align-items: flex-end;
}
footer.sectionpadding {
    background: #303030;
}

footer p {
    color: #fff;
}

.footerlist h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}

.footerlist ul {
    padding: 0;
    list-style: none;
    margin: 0;
    padding-left: 5px;
}

.footerlist ul li {
    padding-bottom: 11px;
}

.footerlist ul li:last-child {
    padding-bottom: 0;
}

.footerlist ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.contactinfo {}

.contactinfo ul {}

.contactinfo ul li {
    position: relative;
    padding-left: 26px;
}

.contactinfo ul li a {}

.contactinfo ul li a i.fa {
    position: absolute;
    top: 5px;
    left: 0px;
    font-size: 20px;
}

.contactinfo ul li a i.fa.fa-envelope {
    font-size: 18px !important;
}

ul.socialmedia {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.socialmedia li {
    display: inline-block;
    padding: 0 10px;
}

ul.socialmedia li:first-child {
    padding-left: 0;
}

ul.socialmedia li a {}

ul.socialmedia li a i.fa {
    font-size: 20px;
    color: #fff;
}
.footerlogo {
    width: 120px;
}
.contactformimg {
    position: absolute;
    bottom: 0;
}
.contactformset {
    position: relative;
}
.callcontent h3 {
    font-size: 40px;
}

.callbtn {
    text-align: right;
}

.outerofcallsection .row {
    align-items: center;
}

.callbtn .webbtnset {}

.callbtn .webbtnset a {
    padding: 20px 40px;
    border-radius: 72px;
    font-size: 20px;
}
.outerofcopy {
    background: #000;
    border-top: solid 1px #4e4e4e;
}

.outerofcopy p {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px 20px;
}
.seoservicessection .boxservices {
    padding: 30px 20px;
}

.seoservicessection .row {
    row-gap: 25px;
    justify-content: center;
}






.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #E91E63;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: #8c52ff29;
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
    width: 100%;
    text-align: left;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    color: #3B566E;
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.faq .card .card-header .faq-title .badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 14px;
    float: left;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    background: #8c52ff;
    color: #fff;
    font-size: 12px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}

.innerpagebanner {
    text-align: center;
}
.breadcrumb {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #f7f7f745;
    padding: 10px 30px;
    display: inline-block;
}

.breadcrumb li {
    display: inline-block;
    color: #fff;
    padding: 0 9px;
}

.breadcrumb li a {
    text-decoration: none;
    color: #fff;
}

.innerpagebanner .outerofbanner {
    padding: 90px 0;
}
a {
    text-decoration: none;
}

.blogimgbox {
    border-radius: 12px;
    overflow: hidden;
}

.blogcontent ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 14px;
}

.blogcontent ul li {display: inline-block;padding: 0 2px;}

.blogcontent {
    padding: 15px 15px;
    /* box-shadow: 0 0 13px #e8e8e8; */
}

.blogbox {
    box-shadow: 0 0 13px #e8e8e8;
    overflow: hidden;
    border-radius: 12px;
}

.readmorebtn a {
    font-weight: 500;
    font-size: 15px;
}

.blogcontent h3 {
    font-size: 22px;
    margin-bottom: 0;
    padding-bottom: 13px;
}

.blogbox:hover {}

.blogbox:hover .blogimgbox {}

.blogbox:hover .blogimgbox img {
    transform: scale(1.1);
}

.blogbox .blogimgbox img {
    transition: .9s;
}
.outerofblogsection .row P{
    row-gap: 25px;
}

.blogdetailcontent h2 {
    font-size: 26px;
}

.blogdetailcontent {
    padding: 20px 0 0px 0;
}

.blogcontent ul li i.fa {
    color: #fc5606;
}

.recentpost {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 24px;
    background: #eee;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
}
.recentpost:last-child {
    margin-bottom: 0;
}

.recentimgbox {
    width: 38%;
}

.recentimgbox img {
    border-radius: 6px;
}

.recentpostdetails {
    width: 58%;
}



.recentpostdetails p {
    margin: 0;
    font-size: 14px;
}
h4.recentblogheading {
    font-size: 15px;
    margin-bottom: 0;
}
.receblogtopheading {
    font-size: 20px;
    margin-bottom: 10px;
}

.blogdetailsinnerbox {
    background: #f7f7f7;
    padding: 20px 15px;
    border-radius: 12px;
    width: 100%;
}

.blogdetailsSide {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.socialmedialist li {
    list-style: none;
    display: inline-block;
    padding: 0 6px;
}

.socialmedialist li i.fa {
    background: #fd5c08;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: white;
    transition: .5s;
}

ul.socialmedialist {
    padding: 0;
    margin-bottom: 5px;
}

.socialmedialist li:first-child {
    padding-left: 0;
}

.socialmedialist li:hover {}

.socialmedialist li:hover i.fa {
    transform: rotate(21deg);
}

ul.ctglist li {
    position: relative;
    padding-left: 15px;
}

ul.ctglist {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
}

ul.ctglist li:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 25px;
    background: #fd5c08;
    position: absolute;
    top: 8px;
    left: 0;
}
.blogdetailimg {
    border-radius: 12px;
    overflow: hidden;
}

.outerofmiddlecontent p {
    text-align: center;
}

.webdesignaboutstr .aboutimg {
    width: 100%;
}

.cp {
    padding: 0;
}
/*.webdesignaboutstr .row {
    align-items: center;
}*/

.pltr {
    padding: 40px;
}
/*.pltr2 {
    padding-right: 22px;
    padding-top: 22px;
}*/
.cbg {
    background: #efefef;
}
.outerofmiddlecontent h2, .outerofmiddlecontent p {
    color: #fff;
}

.middlecontentbox {
    background: #00000059;
    padding: 40px 20px;
    border-radius: 11px;
}

/*.alignset {
    align-items: center;
}*/

.innerpagebox .boxservices {
    border: dashed 2px #8c52ff;
    box-shadow: none;
    padding: 30px 10px;
    background: #fff !important;
}

.innerpagebox .boxservices .servicecontent h4 {
    font-size: 21px;
}
.innerpagebox .boxservices p {
    margin: 0;
}

.contentofstrmiddle p {
    text-align: center;
}

.alignset {
    row-gap: 25px;
}

.sectionbottom {
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}
.ourservicestwo .boxservices {
    padding-left: 20px;
    padding-right: 20px;
}

.calltoactionformaintenance .callcontent h3 {
    font-size: 27px;
}

.callbg {
    background: #ffede4;
}


.ppcservices {
    display: flex;
}

.aboutusinntersection .industriesimg {
    width: 22%;
}

.aboutusinntersection .industriesbox ul {
    text-align: left;
}

.aboutusinntersection .col-sm-6.col-xs-6 {
    display: flex;
}

.agn {
    align-items: inherit;
}


.apc .alignset {
    text-align: inherit !important;
}

.sicon i.fa {
    font-size: 30px;
    color: #fff;
    background: #8c52ff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}

.servicecontent p a {
    color: #000;
}

.contactusdetails .boxservices {
    min-height: 243px !important;
}

.contactusdetails .col-sm-12 .servicecontent p {
    font-weight: 500;
    font-size: 16px;
}



.iframset iframe {
    height: 550px;
}

/*.sectionheading {
    text-align: left;
}*/
.contactformset .sectionheading {
    text-align: left;
}

.contactformset form {}

.contactformset form .mb-3 {
    position: relative;
}

.contactformset form i.fa {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 19px;
    color: #8c52ff;
}

.contactformset form .form-control {
    padding: 12px 0 12px 40px;
}

.contactformset form textarea.form-control {
    height: 190px;
}

.contactformset form input.SubmitBtn {
    background: #8c52ff;
    border-radius: 25px;
    padding: 15px 70px;
    text-decoration: none;
    color: #ffff;
    border: none;
}


.outerofperpsalsection .contactpageform {
    box-shadow: 0 0 11px #e5e5e5;
    padding: 40px 30px;
    width: 80%;
    margin: 0 auto;
    background: #fff;
}

.outerofperpsalsection .contactpageform .sectionheading {
    text-align: center;
}

.iconsetofcontact {
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
}

.iconsetofcontact .sicon {
    margin: 0;
    width: 21%;
}

.iconsetofcontact .contactinfoset {
    text-align: left;
    width: 75%;
}

.iconsetofcontact .contactinfoset h4 {
    font-size: 19px;
    margin-bottom: 5px;
}
.contactpagesetdetails .iconsetofcontact {
    gap: 22px;
}
.footerlist ul li h4 {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 3px;
}
.pl0 {
    padding-left: 0 !important;
}
.pl02 {
    padding-left: 0 !important;
}

.headermenu a {
        background: #8c52ff !important;
    padding: 0px 23px !important;
    border-radius: 60px;
    color: #fff !important;
    line-height: 2;
    margin-top: 16px;
}

.headermenu:hover a {
    background: #000 !important;
}


.dropdown {
/*  padding: 50px;*/
  display: none;
}
.dropdown {
    background: #fff;
    position: absolute;
    top: 70px;
    box-shadow: 0 0 9px #dbdbdb;
    padding: 8px 0;
}
.navdrop {
    position: relative;
}

.childdrop {
    position: absolute;
    left: 255px;
    background: #fff;
    box-shadow: 0 0 9px #dbdbdb;
    top: 0;
    display: none;
}
.setofdowntop {
    position: relative;
    top: -2px;
    left: 1px;
}
nav ul li ul li:hover .fa.fa-sort-desc {
    color: #8c52ff;
}

.setofdown {
    position: absolute;
    right: 61px;
    top: 15px;
    cursor: pointer;
    width: 25%;
}
li.navdrop:hover ul#dropshowtwo {
    display: block;
}

.img1 img {
    width: 100%;
    border-bottom: 4px solid #8c52ff;
}

.contand {
    padding-top: 15px;
    border-left: 2px solid;
    border-right: 2px solid;
}

.contand h5 {
    font-size: 22px;
    color: #8c52ff;
}

.contand p {
    background-image: linear-gradient(100deg, #c9c9c9, #8c52ff, #b7b6b6);
    font-weight: 600;
    color: #fff;
}